<!--Peter Earl 1129663  -->
{% extends "base.html" %}

{% block title %}Register New Account{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %}
{% endif %}
{% endwith %}


<p>Register new account</p>

<form  action="#" method = "POST" name="details">
    <label>First name:</label>
    <input type="text" placeholder="e.g. Aidan" name="FirstName" required minlength="1" maxlength="100"/>
    <br> 
    <br> 
    <label>Last name:</label>
    <input type="text" placeholder="e.g. Burgess" name="LastName" required minlength="1" maxlength="100"/>
    <br> 
    <br> 
    <label>Email address:</label>
    <input type="email" placeholder="e.g. AidanBurgess@gameeight.com" name="EmailAddress" required minlength="4" maxlength="100"/> <!--min and max age could be another input control,should not exist already in database-->
    <br> 
    <br> 
    <label>Phone number:</label>
    <input type="tel" placeholder="e.g. (027) 734-7930" name="PhoneNumber" required minlength="9" maxlength="20"/> <!--phone number should have first two or 3 digits in brackets, a space, digits, a dash then 4 spaces, perhaps if the format was close enough the code could put it into this format automatically, should not exist already in database-->
    <br> 
    <br> 
    <label>Passport number:</label>
    <input type="text" placeholder="e.g. TOF1411006" name="PassportNumber" required minlength="8" maxlength="12"/> <!--should probably always only be 10 characters? 3 letters, 7 numbers, should not exist already in database-->
    <br> 
    <br> 
    <label>Date of birth:</label>
    <input type="date" placeholder="e.g. 2003-06-30" name="DateOfBirth" required/>
    <br>
    <br> 
    <input type ="submit" value="Register your details"/>
</form>
{% endblock %}